{% extends "layout.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='guidestyle.css') }}">
{% endblock %}
{% block content %}
  <section class="section-block">
      <h2>Youth and Child Care</h2>
      <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=1)" width="100%" color=#fafafa SIZE=1>
  </section>

  <br>

  <br>
  <div class="container">
      <div >
          <div class="card">
              <div class="card-header">
                  City of Toronto
              </div>
              <div class="card-body">
                  <h4 class="card-title">
                      Child & Family Programs
                  </h4>
                  <p>Child health and development workshops, screening clinics and other supports are offered through community partners such as neighbourhood EarlyON centres, public libraries and other local agencies.</p>
                  <p class="card-text">
                      <button class="btnn" onclick="location.href='https://www.toronto.ca/community-people/children-parenting/children-programs-activities/child-family-programs-and-groups/'" >Child & Family Programs</button>
                  </p>
              </div>
          </div>
          <div class="mt-25"></div>

         <div class="card">
              <div class="card-header">
                  City of Toronto
              </div>
              <div class="card-body">
                  <h4 class="card-title">
                      Find Youth Services
                  </h4>
                  <p>Search for youth services by key word, topic, language and accessibility.</p>
                  <p class="card-text">
                      <button class="btnn" onclick="location.href='https://www.toronto.ca/community-people/children-parenting/youth/find-youth-services/'" >Find Youth Services</button>
                  </p>
              </div>
          </div>
          <div class="mt-25"></div>

      </div>
  </div>

  </article>

{% endblock content %}